.btn {
    border-width: 0 0 0 0;
    font-weight: normal;
}

.btn-default {
    color: #2ecc71;
    background-color: #ffffff;
    border-color: #ffffff;
}

.red { background-color:#F5A796; border-radius: 5px; padding: 20px;}
.blue { background-color:#e6f0ff; border-radius: 5px; padding: 20px;}